.banner {
  background-color: var(--blue);
}

.banner .wrap {
  display: flex;
  font-family: 'open_sansregular';
  justify-content: space-between;
  list-style-type: none;
  margin: 3% auto 0 auto;
  max-width: 1200px;
  padding: 0;
  text-align: center;
}

.banner li {
  color: var(--light);
  cursor: pointer;
  flex: 1;
  flex-basis: 11.11%;
  padding: 2%;
}

.banner li:first-child {
  background-color: var(--dark);
}

.banner li:hover:first-child {
  color: var(--gray);
}

.banner li:hover:not(:first-child) {
  background-color: #fff;
  color: var(--blue);
}

@media screen and (max-width: 768px) {
  .banner .wrap {
    flex-wrap: wrap;
  }

  .banner li {
    color: var(--light);
    cursor: pointer;
    flex: 1;
    flex-basis: 100%;
    padding: 2%;
  }
}
