.button {
  color: var(--light);
  cursor: pointer;
  font-family: 'open_sanssemibold';
  font-size: 1rem;
  margin: 7% auto 0 auto;
  padding: .75rem 5rem;
}

.button:hover, .button:focus {
  background-color: var(--light);
  color: var(--dark);
}

.button__fill--none {
  background-color: transparent;
  color: black;
}

.button__fill--dark {
  background-color: var(--dark);
  color: var(--light);
}

.button__fill--light {
  background-color: var(--light);
  color: var(--dark);
}

.button__fill--blue {
  background-color: var(--blue);
}

.button__fill--red {
  background-color: var(--red);
}

.button__fill--orange {
  background-color: var(--orange);
}

.button__fill--green {
  background-color: var(--green);
}

.button__fill--purple {
  background-color: var(--purple);
}

.button__fill--yellow {
  background-color: var(--yellow);
}

.button__fill--brown {
  background-color: var(--brown);
}

.button__fill--gray {
  background-color: var(--gray);
}

.button__hoverFill--dark:hover {
  background-color: var(--dark);
  color: var(--light);
}

.button__hoverFill--light:hover {
  background-color: var(--light);
  color: var(--dark);
}

.button__hoverFill--blue:hover {
  background-color: var(--blue);
  color: var(--light);
}

.button__hoverFill--red:hover {
  background-color: var(--red);
  color: var(--light);
}

.button__hoverFill--orange:hover {
  background-color: var(--orange);
  color: var(--light);
}

.button__hoverFill--green:hover {
  background-color: var(--green);
  color: var(--light);
}

.button__hoverFill--purple:hover {
  background-color: var(--purple);
  color: var(--light);
}

.button__hoverFill--yellow:hover {
  background-color: var(--yellow);
  color: var(--light);
}

.button__hoverFill--brown:hover {
  background-color: var(--brown);
  color: var(--light);
}

.button__hoverFill--gray:hover {
  background-color: var(--gray);
  color: var(--dark);
}

.button__outline--dark {
  border: 2px solid var(--dark);
}

.button__outline--light {
  border: 2px solid var(--light);
}

.button__outline--blue {
  border: 2px solid var(--blue);
}

.button__outline--red {
  border: 2px solid var(--red);
}

.button__outline--orange {
  border: 2px solid var(--orange);
}

.button__outline--green {
  border: 2px solid var(--green);
}

.button__outline--purple {
  border: 2px solid var(--purple);
}

.button__outline--yellow {
  border: 2px solid var(--yellow);
}

.button__outline--brown {
  border: 2px solid var(--brown);
}

.button__outline--gray {
  border: 2px solid var(--gray);
}

.button__outline--none {
  border: none;
}
