/* WIP */

.tab {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.tab__header {
  background-color: var(--blue);
  float: left;
  font-family: 'open_sansregular';
  justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  width: 30%;
}

.tab__item {
  background-color: var(--blue);
  border: none;
  border-left: 4px solid #fff; /* */
  border-right: 4px solid #fff; /* */
  color: var(--light);
  cursor: pointer;
  display: block;
  font-family: 'open_sansregular';
  font-size: 1rem;
  outline: none;
  padding: 2%;
  width: 100%;
}

.tab__item:first-child {
  background-color: var(--dark);
}

.tab__item:hover:not(:first-child) {
  background-color: var(--blue);
  border-left: 4px solid var(--blue);
  border-right: 4px solid var(--blue);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  filter: brightness(90%);
  color: var(--light);
}

.tab__item:hover:first-child {
  border-left: 4px solid var(--dark);
  border-right: 4px solid var(--dark);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.tab__item:first-child.active {
  border-left: 4px solid var(--dark);
  border-right: 4px solid var(--dark);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.tab__item:not(:first-child).active {
  background-color: var(--blue);
  border-left: 4px solid var(--blue);
  border-right: 4px solid var(--blue);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  filter: brightness(90%);
  color: var(--light);
}

.tab__content {
  animation: fadeEffect 1s;
  float: left;
  padding: 6px 12px;
  width: 65%;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 768px) {
  .tab__header {
    flex-wrap: wrap;
  }

  .tab__item {
    border-left: none;
    border-right: none;
    color: var(--light);
    cursor: pointer;
    flex: 1;
    flex-basis: 100%;
    padding: 2%;
  }

  .tab__item:hover:first-child {
    border-left: none;
    border-right: none;
    box-shadow: none;
    filter: brightness(90%);
  }

  .tab__item:hover:not(:first-child) {
    border-left: none;
    border-right: none;
    box-shadow: none;
  }

  .tab__item:first-child.active {
    border-left: none;
    border-right: none;
    box-shadow: none;
  }

  .tab__item:not(:first-child).active {
    border-bottom: none;
    border-top: none;
    box-shadow: none;
  }
}
