.svg {
  display: block;
  margin: 0 auto; }

.st0 {
  fill: #F2F2F2; }

.st1 {
  font-family: 'open_sansextrabold'; }

.st2 {
  font-size: 48px; }

.st3 {
  font-family: 'open_sanslight'; }

.st4 {
  fill: #E6E7E8; }
