.splash {
  background-color: var(--color2);
  /* background-image: url('./texture1.png');
  background-size: 2%; */
  height: calc(100vh - (100vh - 100%));
  text-align: center;
  width: calc(100vw - (100vw - 100%));
}

.splash .title {
  color: var(--color0);
  padding-top: 15%;
  width: calc(100vw - (100vw - 100%));
}

.splash .message {
  background-color: var(--color1);
  border: none;
  color: var(--color0);
  font-family: 'open_sanssemibold';
  font-size: 1rem;
  margin: 7% auto 0 auto;
  padding: .75rem 5rem;
}

.splash .message:hover {
  background-color: var(--color0);
  color: var(--color2);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .splash .title {
    padding-top: 20%;
  }
}
