.heading {
  color: var(--color2);
}

.heading--align-center {
  text-align: center;
}

.heading--align-end {
  text-align: right;
}

.heading--align-start {
  text-align: left;
}

.heading--form-capitalize {
  text-transform: capitalize;
}

.heading--form-lowercase {
  text-transform: lowercase;
}

.heading--form-uppercase {
  text-transform: uppercase;
}

.heading--margin-lg {
  margin: 5.334% 0 2% 0;
}

.heading--margin-md {
  margin: 4% 0 1.334% 0;
}

.heading--margin-none {
  margin: 0;
}

.heading--margin-sm {
  margin: 3% 0 1% 0;
}

.heading--margin-xl {
  margin: 8% 0 2.667% 0;
}

.heading--margin-xs {
  margin: 2.667% 0 0.667% 0;
}

.heading--onClick {
  cursor: pointer;
}

.heading--onClick:hover {
  color: var(--color9);
}

.heading--size-lg {
  font-size: 2rem;
}

.heading--size-md {
  font-size: 1.5rem;
}

.heading--size-sm {
  font-size: 1.2rem;
}

.heading--size-xl {
  font-size: 3rem;
}

.heading--size-xs {
  font-size: 1rem;
}

.heading--weight-light {
  font-family: 'open_sanslight';
}

.heading--weight-regular {
  font-family: 'open_sansregular';
}

.heading--weight-semi {
  font-family: 'open_sanssemibold';
}

.heading--weight-bold {
  font-family: 'open_sansbold';
}

.heading--weight-extra {
  font-family: 'open_sansextrabold';
}
