.footer {
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  height: 100px;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}
