.image {

}

.image--avatar {
  border-radius: 50%;
}

.image--margin-lg {
  margin: 5.334% 0 2% 0;
}

.image--margin-md {
  margin: 4% 0 1.334% 0;
}

.image--margin-none {
  margin: 0;
}

.image--margin-sm {
  margin: 3% 0 1% 0;
}

.image--margin-xl {
  margin: 8% 0 2.667% 0;
}

.image--margin-xs {
  margin: 2.667% 0 0.667% 0;
}

.image--responsive {
  height: auto;
  max-width: 100%;
}

.image--size-lg {
  height: 24rem;
  width: 24rem;
}

.image--size-md {
  height: 16rem;
  width: 16rem;
}

.image--size-sm {
  height: 8rem;
  width: 8rem;
}

.image--size-xl {
  height: 32rem;
  width: 32rem;
}

.image--size-xs {
  height: 3rem;
  width: 3rem;
}
