.splash {
  background-color: var(--dark);
  color: var(--light);
  /* height: calc(100vh - (100vh - 100%)); */
  min-height: 100vh;
  text-align: center;
  /* width: calc(100vw - (100vw - 100%)); */
}

.splash .title {
  padding-top: 15%;
  /* width: calc(100vw - (100vw - 100%)); */
}

@media screen and (max-width: 768px) {
  .splash .title {
    padding-top: 20%;
  }
}
